In [1]:
import pandas as pd

In [2]:
raw_data_path = 'rawdata.xlsx'
raw_data = pd.read_excel(raw_data_path)
raw_data

          date      time  sensor location  number activity position location.1
0   2024-01-16  10:10:30     0.0       A1       1   placed   inside         A1
1   2024-01-16  10:12:30     1.0       A2       1   picked   inside         A2
2   2024-01-16  10:28:30     1.0       A3       1   picked   Inside         A3
3   2024-01-16  10:38:20     0.0       A4       1   placed   Inside         A4
4   2024-01-16  10:45:20     1.0       A5       1   placed   inside         A5
..         ...       ...     ...      ...     ...      ...      ...        ...
170 2024-01-18  12:45:05     0.0       A8       2   placed   inside         A8
171 2024-01-18  12:53:10     1.0       A9       2   picked   inside         A9
172 2024-01-18  12:59:10     1.0      A10       2   placed  outside        A10
173 2024-01-18  13:10:20     1.0      A11       2   picked   Inside        A11
174 2024-01-18  13:18:30     0.0      A12       2   placed   inside        A12

[175 rows x 8 columns]

In [4]:
raw_data['date'] = raw_data['date'].astype(str)
raw_data['time'] = raw_data['time'].astype(str)

In [5]:
raw_data['datetime'] = pd.to_datetime(raw_data['date'] + ' ' + raw_data['time'])
raw_data['date'] = raw_data['datetime'].dt.date

In [6]:
raw_data

,date,time,sensor,location,number,activity,position,location.1,datetime
0,2024-01-16,10:10:30,0.0,A1,1,placed,inside,A1,2024-01-16 10:10:30
1,2024-01-16,10:12:30,1.0,A2,1,picked,inside,A2,2024-01-16 10:12:30
2,2024-01-16,10:28:30,1.0,A3,1,picked,Inside,A3,2024-01-16 10:28:30
3,2024-01-16,10:38:20,0.0,A4,1,placed,Inside,A4,2024-01-16 10:38:20
4,2024-01-16,10:45:20,1.0,A5,1,placed,inside,A5,2024-01-16 10:45:20
...,...,...,...,...,...,...,...,...,...
170,2024-01-18,12:45:05,0.0,A8,2,placed,inside,A8,2024-01-18 12:45:05
171,2024-01-18,12:53:10,1.0,A9,2,picked,inside,A9,2024-01-18 12:53:10
172,2024-01-18,12:59:10,1.0,A10,2,placed,outside,A10,2024-01-18 12:59:10
173,2024-01-18,13:10:20,1.0,A11,2,picked,Inside,A11,2024-01-18 13:10:20
174,2024-01-18,13:18:30,0.0,A12,2,placed,inside,A12,2024-01-18 13:18:30

In [7]:
raw_data['duration'] = raw_data['datetime'].diff().dt.total_seconds().fillna(0)
raw_data

,date,time,sensor,location,number,activity,position,location.1,datetime,duration
0,2024-01-16,10:10:30,0.0,A1,1,placed,inside,A1,2024-01-16 10:10:30,0.0
1,2024-01-16,10:12:30,1.0,A2,1,picked,inside,A2,2024-01-16 10:12:30,120.0
2,2024-01-16,10:28:30,1.0,A3,1,picked,Inside,A3,2024-01-16 10:28:30,960.0
3,2024-01-16,10:38:20,0.0,A4,1,placed,Inside,A4,2024-01-16 10:38:20,590.0
4,2024-01-16,10:45:20,1.0,A5,1,placed,inside,A5,2024-01-16 10:45:20,420.0
...,...,...,...,...,...,...,...,...,...,...
170,2024-01-18,12:45:05,0.0,A8,2,placed,inside,A8,2024-01-18 12:45:05,575.0
171,2024-01-18,12:53:10,1.0,A9,2,picked,inside,A9,2024-01-18 12:53:10,485.0
172,2024-01-18,12:59:10,1.0,A10,2,placed,outside,A10,2024-01-18 12:59:10,360.0
173,2024-01-18,13:10:20,1.0,A11,2,picked,Inside,A11,2024-01-18 13:10:20,670.0
174,2024-01-18,13:18:30,0.0,A12,2,placed,inside,A12,2024-01-18 13:18:30,490.0

In [8]:
raw_data['activity'] = raw_data.apply(lambda row: 'picked' if row['sensor'] == 1 else 'placed', axis=1)
raw_data

,date,time,sensor,location,number,activity,position,location.1,datetime,duration
0,2024-01-16,10:10:30,0.0,A1,1,placed,inside,A1,2024-01-16 10:10:30,0.0
1,2024-01-16,10:12:30,1.0,A2,1,picked,inside,A2,2024-01-16 10:12:30,120.0
2,2024-01-16,10:28:30,1.0,A3,1,picked,Inside,A3,2024-01-16 10:28:30,960.0
3,2024-01-16,10:38:20,0.0,A4,1,placed,Inside,A4,2024-01-16 10:38:20,590.0
4,2024-01-16,10:45:20,1.0,A5,1,picked,inside,A5,2024-01-16 10:45:20,420.0
...,...,...,...,...,...,...,...,...,...,...
170,2024-01-18,12:45:05,0.0,A8,2,placed,inside,A8,2024-01-18 12:45:05,575.0
171,2024-01-18,12:53:10,1.0,A9,2,picked,inside,A9,2024-01-18 12:53:10,485.0
172,2024-01-18,12:59:10,1.0,A10,2,picked,outside,A10,2024-01-18 12:59:10,360.0
173,2024-01-18,13:10:20,1.0,A11,2,picked,Inside,A11,2024-01-18 13:10:20,670.0
174,2024-01-18,13:18:30,0.0,A12,2,placed,inside,A12,2024-01-18 13:18:30,490.0

In [9]:
# Define a function to classify locations
def classify_location(location):
    if location.startswith('A'):
        return 'inside'
    else:
        return 'outside'

raw_data['location_type'] = raw_data['location'].apply(classify_location)

# Group by date and location type to calculate total duration
duration_summary = raw_data.groupby(['date', 'location_type'])['duration'].sum().reset_index()
duration_summary = duration_summary.pivot(index='date', columns='location_type', values='duration').fillna(0).reset_index()
duration_summary.columns.name = None  # Remove the pivot table column name

# Display the duration summary
print(duration_summary)

         date    inside
0  2024-01-16  -30730.0
1  2024-01-17  125160.0
2  2024-01-18   89650.0

In [10]:
# Group by date and activity to count the number of activities
activity_summary = raw_data.groupby(['date', 'activity'])['activity'].count().unstack().fillna(0).reset_index()

# Display the activity summary
print(activity_summary)

activity        date  picked  placed
0         2024-01-16      40      40
1         2024-01-17      10       9
2         2024-01-18      39      37

In [11]:
# Merge the duration and activity summaries
final_summary = pd.merge(duration_summary, activity_summary, on='date', how='outer').fillna(0)

# Display the final summary
print(final_summary)

# Save the final summary to an Excel file
final_summary_path = 'final_summary.xlsx'
final_summary.to_excel(final_summary_path, index=False)

         date    inside  picked  placed
0  2024-01-16  -30730.0      40      40
1  2024-01-17  125160.0      10       9
2  2024-01-18   89650.0      39      37